/* src/components/FilterAndSearch.css */
.filter-search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px; /* Space between buttons and search */
  margin-bottom: 30px;
  margin-top: 30px;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.filter-buttons {
  display: flex;
  gap: 15px;
}

.filter-button {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #0f532d;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.2s, border-color 0.2s;
}

.filter-button:hover {
  background-color: #20ac5d;
}

.filter-button.active {
  background-color: black;
  color: white;
  border-color: whitesmoke;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px; /* Oval shape */
  font-size: 1em;
  width: 250px;
}

.search-button {
  padding: 10px 20px;
  border: 1px solid black; /* Oval button as per drawing */
  border-radius: 20px;
  background-color: #0f532d;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.2s;
}

.search-button:hover {
  background-color: #0f532d;
}