/* src/components/Footer.css */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #0f532d;
  border-top: 1px solid #eee;
  font-family: sans-serif;
  margin-top: 40px;
}

.footer-app-name {
  font-weight: bold;
  font-size: 1.2em;
}

.social-links {
  display: flex;
  gap: 15px;
}

.social-button {
  border: 1px solid black; /* As per drawing */
  padding: 5px 15px;
  border-radius: 20px;
  text-decoration: none;
  color: whitesmoke;
  background-color: #0f532d;
  transition: background-color 0.2s, color 0.2s;
}

.social-button:hover {
  background-color:#0f532d;
  color: black;
  border-color: white;
}